<!DOCTYPE html>
<html translate="no">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Hijazi Aluminum &amp; Glass">
    <meta property="og:image" content="./assets/img/ogp.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@goldi69s">
    <meta property="og:site_name" content="Hijazi Aluminum &amp; Glass">
    <meta property="og:locale" content="ja_JP">
    <link rel="stylesheet" href="./assets/css/jquery.fullPage.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <script src="./assets/js/barba.min.js" ></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="./awwwards.css">
    <meta property="og:url" content="kuon.space">
    <meta property="og:title" content="Hijazi Aluminum &amp; Glass">
    <title>Hijazi Aluminum &amp; Glass</title><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115155070-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-115155070-1');</script>
  </head>
  <body>
    <header style="z-index: 1;text-transform: uppercase;"><a style="font-size: 5rem;position: relative;top: -40px;" id="headerTitle" class="name" href="./"><img src="./assets/img/HijaziLogo.png" class="headerImage" style="width: 18rem;height: 13rem;"> Hijazi Aluminum &amp; Glass</a>
      <div class="curtain"></div>
      <div class="loader"></div>
    </header>
    
    <main id="barba-wrapper">
      <div class="barba-container" data-namespace="top">
        <div class="fullpage" id="js-fullpage">
          <div class="section">
            <div class="fullpage__slide">
              <iframe src="./hello.html" id="iframe" style="height:100vh;width: 100%;z-index: 99;"></iframe>
            </div>
          </div>
          <div class="section" style="z-index: 1;">
            <!-- <div class="honorable white right" id="awwwards"><a href="http://www.awwwards.com" target="_blank">Awwwards</a></div> -->
            <div class="fullpage__slide firstPageSlider">
              <div class="title title--top">
                <h3 class="title__text js-letter">Façade Systems</h3>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">Façade Systems</p>
                <div class="btn-wrap js-letter"><a class="btn" href="./facade">Show Details</a></div>
              </div>
              {{#if facadeImage}}
                <a class="image" style="background: url('{{facadeImage.url}}') no-repeat center;background-size: cover;" href="./facade">
              {{else}}
                <a class="image image--facade" href="./facade">
              {{/if}}
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
              <!-- <div class="moon">
                <div class="moon__img js-parallax-moon">
                  <div class="moon__front layer" data-depth="0.2">
                    <div class="moon__text-wrap"> -->
                      <!-- <p class="moon__text js-moon" data-depth="0.5">Hello Worl!</p> -->
                    <!-- </div>
                  </div>
                  <div class="moon__front layer" data-depth="0.8">
                    <div class="cloud cloud--front1 js-moon"><img src="./assets/img/cloud1.svg" alt="cloud"></div>
                  </div>
                  <div class="moon__back layer" data-depth="0.4">
                    <div class="cloud cloud--back2 js-moon"><img src="./assets/img/b_cloud02.svg" alt="cloud"></div>
                  </div>
                  <div class="moon__front layer" data-depth="0.6">
                    <div class="cloud cloud--front2 js-moon"><img src="./assets/img/cloud2.svg" alt="cloud"></div>
                  </div>
                  <div class="moon__back layer" data-depth="0.5"><img class="js-moon" src="./assets/img/moon.svg" alt="moon"></div>
                  <div class="moon__front layer" data-depth="0.7"> -->
                    <!-- <div class="cloud cloud--front3 js-moon"><img src="./assets/img/cloud3.svg" alt="cloud"></div> -->
                  <!-- </div>
                  <div class="moon__back layer" data-depth="0.3">
                    <div class="cloud cloud--back1 js-moon"><img src="./assets/img/b_cloud01.svg" alt="cloud"></div>
                  </div>
                </div>
              </div> -->
            </a>
            </div>
          </div>
          <div class="section">
            <div class="fullpage__slide">
              <div style="z-index: 1;" class="title">
                <h2 class="title__text js-letter">Aluminum <br /> Composite Panel</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">Aluminum Composite Panel</p>
                <div class="btn-wrap js-letter"><a class="btn" href="./composite">Show Details</a></div>
              </div>
             {{#if compositeImage}}
                <a class="image" style="background: url('{{compositeImage.url}}') no-repeat center;background-size: cover;" href="./composite">
              {{else}}
              <a class="image image--composite" href="./composite">
              {{/if}}
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                <!-- <div class="page-num">
                  <p>01</p>
                </div> -->
              </a>
            </div>
          </div>
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">Glass Art</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">Glass Art</p>
                <div class="btn-wrap js-letter"><a class="btn" href="./glassArt">Show Details</a></div>
              </div>
             {{#if glassArtImage}}
                <a class="image" style="background: url('{{glassArtImage.url}}') no-repeat center;background-size: cover;" href="./composite">
              {{else}}
              <a class="image image--designArt" href="./glassArt">
              {{/if}}
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                <!-- <div class="page-num">
                  <p>02</p>
                </div> -->
              </a>
            </div>
          </div>
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">About Us</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <p class="title__lead js-letter">About Us</p>
                <div class="btn-wrap js-letter"><a class="btn" href="./about">Show Details</a></div>
              </div><a class="image image--about" href="./about">
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                <!-- <div class="page-num">
                  <p>02</p>
                </div> -->
              </a>
            </div>
          </div>
          <div class="section">
            <div class="fullpage__slide">
              <div class="title">
                <h2 class="title__text js-letter">Contact Us</h2>
                <div class="border js-letter"><span></span><span class="js-letter"></span></div>
                <ul>
                  <li class="js-letter"><a href="mailto:itsdeveloper6@gmail.com">itsdeveloper6@gmail.com</a></li>
                  <li class="js-letter"><a href="/" target="_blank">+345 435 345 643</a></li>
                  <!-- <li class="js-letter"><a href="/" target="_blank"><i class="fab fa-twitter"></i></a><a href="/" target="_blank"><i class="fab fa-dribbble"></i></a></li> -->
                </ul>
              </div>
              <div class="image image--contact">
                <div class="image__over">
                  <div class="image__cover"></div>
                  <div class="image__cover"></div>
                </div>
                <!-- <div class="page-num">
                  <p>03</p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <p class="scrollDown">SCROLLDOWN</p>
        <div class="moon-background" style="background: #072040;">
          <!-- <div class="moonlight">
            <div class="moonlight__wrap js-parallax-moonlight">
              <div class="layer moonlight__img" data-depth="0.2"></div>
            </div> -->
          <!-- </div> -->
        </div>
        <div class="star js-parallax-star">
          <div class="layer" data-depth="0.1">
            <!-- <div class="star__img"><img src="./assets/img/star.svg"></div> -->
          </div>
        </div>
        <div class="sky-color"></div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./assets/js/jquery.fullPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <!-- <script src="./assets/js/parallax.js"></script> -->
    <script src="./assets/js/common.min.js"></script>
    <script type="text/javascript">
      // $(document).ready(function() {
      //   $('.firstPageSlider').bind('mousewheel', function(e){
      //       if(e.originalEvent.wheelDelta /120 > 0) {
      //           parent.showContent("show");
      //       }
      //       else{
      //           console.log('scrolling down !');
      //       }
      //   });
      // })

      if (window.location.hash == '#top' || window.location.hash == '') {
        $('#headerTitle').css('fontSize', '5rem');
        $('.headerImage').css('display', 'inline');
        $('#headerTitle').css('top', '-40px');
      }else {
        $('.headerImage').css('display', 'none');
        $('#headerTitle').css('fontSize', '3rem');
        $('#headerTitle').css('top', '0');

      }

      $(window).on('hashchange', function(e){
      console.log(e.target.location.hash);
      if (e.target.location.hash == "#top" || e.target.location.hash == ""){
        $('#headerTitle').css('fontSize', '5rem');
        $('.headerImage').css('display', 'inline');
        $('#headerTitle').css('top', '-40px');
      }else {
        $('.headerImage').css('display', 'none');
        $('#headerTitle').css('fontSize', '3rem');
        $('#headerTitle').css('top', '0');
      }
    });

      function nextPage() {
        $('#headerTitle').css('fontSize','3rem');
        $('a[href="#middle"]').click();
      }
    </script>
  </body>
</html>